* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    grid-template-rows: auto auto auto auto;
    background: black; 
}
.header {
    background: #2f89fc;
    text-align: center;
    padding-top: 10px;
    margin: auto;
    line-height: 40px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 3fr 1fr 1fr;
    z-index: 2;
}

.header .logo img {
    width: 60px;
    height: 35px;
}

.header div {
    display: block;
    color: #f8e4fc;
}

.header div a{
    color: #fff;
    text-decoration: none;
}

.btnLogin {
    padding: 9px;
    padding-left: 24px;
    padding-right: 24px;
    background: #fff;
    color: #2f89fc;
    border: 1px solid #2f89fc;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
}

.btnRegister {
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    background: #2f89fc;
    color: #fff;
    border: none;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
}

.content  {
    background: #ffffff;
    width: 90%;
    margin: 50px auto;
    display: grid;
    gap: 80px;
    grid-template-columns: repeat(3, 1fr);
}

.main {
    position: relative;
    top: 75px;
}

.article h1{
    text-align: center;
    padding: 3%;
}

.article hr{
    color: #C2C2C2;
    margin-left: 50px;
    margin-right: 50px;
}
.article p {
    color: #5A5A5A;
    padding: 5%;
    text-align: justify;
}

body {
    width: 100%;
    height: 100%;
    font-family: Roboto;
}

.hero {
    width: 100%;
    height: 100vh;
    background: url("../img/car1.jpg");
    background-size: cover ;
    background-attachment: fixed;
}

.hero .layer {
    width: 100%;
    height: 100vh;
    display: grid;
    align-content: center;
    justify-content: center;
    font-size: 40px;
    color: rgba(255,255,255,0.5);
    background: rgba(0,0,0,0.5);
}
.container {
    display: grid;
    width: 90%;
    margin: auto;
}

.container .section {
    display: grid;
    grid-template-rows: 50px auto;
    grid-row-gap: 15px;
    min-height: 90vh;

}

.container .section .title-content {
    display: grid;
    text-align: center;
    padding: 15px;
}

.container .section .title-content a {

    text-decoration: none;
}

.container .section .title-content .title {
    padding-bottom: 15px;
    color: #000;
}


/* Cars styles*/
.container .section .cars-content {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

/* Cars styles*/
.container .section .contact-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

.form {
    width: 80%;
    margin: auto;
}


/*  */
.container .section .cars-content .card-vehicle {
    display: grid;
    max-width: 300px;
    grid-template-rows: 200px 100px 50px;
    margin: auto;
    height: 350px;
    box-shadow: 2px 2px 5px  #c0c0c0, -2px -2px 5px  #c0c0c0;
}

.container .section .cars-content img {
    width: 100%;
}

.container .section .card-vehicle .info {
    display: grid;
    grid-template-rows: auto auto;
    width: 80%;
    margin: auto;
}

.container .section .card-vehicle .info h3 {
    color: #b1c0a2;
}

.container .section .card-vehicle .action {
    display: grid;
    grid-template-rows: auto auto;
    width: 80%;
    margin: auto;
    text-align: center;
}

.container .section .card-vehicle .action button {
    display: block;
    padding: 5px;
}

    .form-content {
        display: grid;
        grid-template-columns: auto auto;

    }
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

form {
    font-family: 'Nunito', sans-serif;
    color: #384047;
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
}

h1 {
    margin: 0 0 30px 0;
    text-align: center;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
}

button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #4bc970;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
}

fieldset {
    margin-bottom: 30px;
    border: none;
}

legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 8px;
}

label.light {
    font-weight: 300;
    display: inline;
}

.number {
    background-color: #5fcf80;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 100%;
}

@media screen and (min-width: 480px) {
    form {
        max-width: 480px;
    }
}

footer {
    padding-top: 10px;
    height: 50px;
    background: #2f89fc;
}

.content-footer{
    display: grid;
    align-content: center;
    color: #b1c0a2;
    justify-content: center;
}