:root{
  --sidebar-background: hsl(214, 14%, 10%);
  --sidebar-color-items: rgba(230, 230, 230, .9);
  --sidebar-color-items-hover:  rgba(51, 136, 179, 0.9) ;
  --sidebar-transform-items: uppercase;
  --sidebar-width: 300px;
  --sidebar-position-left: -300px;
  --sidebar-items-text-align: center;
}

#sidebar {
  position: fixed;
  width: var(--sidebar-width);
  height: 100%;
  background: var(--sidebar-background);
  left: var(--sidebar-position-left);
  top: 0;
  transition: all .3s linear;
}

#sidebar .sidebar-wrapper {
  display: grid;
  grid-template-rows: 175px auto 35px;
  align-content: end;
}  

.sidebar-wrapper .sidebar-footer {
  text-align: center;
  color: var(--sidebar-color-items);
  align-self: flex-end;
}

.sidebar-wrapper .sidebar-header {
  display: grid;
  grid-template-rows: 35px auto;
}

.sidebar-wrapper .sidebar-header .sidebar-item-close {
  display: grid;
  justify-content: right;
  padding: 15px;
  color: var(--sidebar-color-items);
}

.sidebar-wrapper .sidebar-header .sidebar-image {
  display: grid;
  justify-content: center;
  align-content: center;
  padding: 15px;
  color: var(--sidebar-color-items);
}
.sidebar-image picture {
    display: block;
    width: 75px;
    height: 75px;
    padding: 10px;
    border-radius: 50%;
    background: #c0c0c0;
    overflow: hidden;
}
.sidebar-wrapper .sidebar-header .sidebar-image picture img{
  display: block; 
  width: 100%;
  overflow: hidden;
}

#sidebar.active {
  left: 0px;
}

#sidebar ul li {
  list-style: none;
  padding: 15px ;
  transition: all .2s ease-in-out;
  text-align: var(--sidebar-items-text-align);
}


#sidebar ul li a{
  transition: all .2s ease-in-out;
  text-decoration: none;
  color: var(--sidebar-color-items);
  text-transform: var(--sidebar-transform-items);
}
#sidebar ul li a:hover {
  color: var(--sidebar-color-items-hover);
  padding-left: 15px;
}
#sidebar ul li a i {
  margin-right: 10px;
}

.toggle-btn, .close-btn { 
  cursor: pointer;
}

.toggle-btn {
  padding: 15px;
}