/*
    GLOBAL STYLES
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    font-family: Roboto;
}

body {
    font-size: 12px;
}

.header {
    background: #2f89fc;
    line-height: 40px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.logo {
    grid-column-start: 0;
    grid-column-end: var(--header-logo-end);
}

.wrapper-menu {
    grid-column-start: var(--header-menu-start);
    grid-column-end: 13;
}

/*
    START GRID STYLES
*/
.container{
    width: 90%;
    margin:auto;
    display: grid;
}

.container .grid{
    display: grid;
    width: 100%;
}

.grid-3fr{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 10px;
}

.grid-center {
    display: grid;    
    justify-content: center;
    align-content: center;
}

.grid-center.padding{
    padding: 15px;
}

/*
    END GRID STYLES
*/


/* 
    START MENU STYLES
*/
.menu {
	border-top: var(--menu-border);
	border-bottom: var(--menu-border);
	display: flex;
	justify-content: space-between;
}

.menu a {
    
	padding: var(--menu-padding-item);
	color: var(--menu-primary-color);
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	width: 100%;
	text-align: center;
	transition: 0.2s ease all;
	font-size: var(--menu-font-size);
	transition: all .2s ease-in-out;
}

.menu a i {
    margin-right: 5px;
}

.menu a:hover {
	background: var(--menu-primary-color);;
	color: var(--menu-secondary-color);;
}

/* 
    END MENU STYLES
*/


/* 
    START SIDEBAR STYLES
*/

#sidebar {
    position: fixed;
    width: var(--sidebar-width);
    height: 100%;
    background: var(--sidebar-background);
    left: var(--sidebar-position-left);
    top: 0;
    transition: all .3s linear;
    font-size: var(--sidebar-font-size);
  }
  
  #sidebar .sidebar-wrapper {
    display: grid;
    grid-template-rows: 175px auto 35px;
    align-content: end;
  }  
  
  .sidebar-wrapper .sidebar-footer {
    text-align: center;
    color: var(--sidebar-color-items);
    align-self: flex-end;
  }
  
  .sidebar-wrapper .sidebar-header {
    display: grid;
    grid-template-rows: 35px auto;
  }
  
  .sidebar-wrapper .sidebar-header .sidebar-item-close {
    display: grid;
    justify-content: right;
    padding: 15px;
    color: var(--sidebar-color-items);
  }
  
  .sidebar-wrapper .sidebar-header .sidebar-image {
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 15px;
    color: var(--sidebar-color-items);
  }
  .sidebar-image picture {
      display: block;
      width: 75px;
      height: 75px;
      padding: 10px;
      border-radius: 50%;
      background: #c0c0c0;
      overflow: hidden;
  }
  .sidebar-wrapper .sidebar-header .sidebar-image picture img{
    display: block; 
    width: 100%;
    overflow: hidden;
  }
  
  #sidebar.active {
    left: 0px;
  }
  
  #sidebar ul li {
    list-style: none;
    padding: 15px ;
    transition: all .2s ease-in-out;
    text-align: var(--sidebar-items-text-align);
  }
  
  
  #sidebar ul li a{
    transition: all .2s ease-in-out;
    text-decoration: none;
    color: var(--sidebar-color-items);
    text-transform: var(--sidebar-transform-items);
  }
  #sidebar ul li a:hover {
    color: var(--sidebar-color-items-hover);
    padding-left: 15px;
  }
  #sidebar ul li a i {
    margin-right: 10px;
  }
  
  .toggle-btn, .close-btn { 
    cursor: pointer;
  }
  
  .toggle-btn {
      display: none;
      padding: 5px 15px;
  }
/* 
    END SIDEBAR STYLES
*/

/* 
    START CARD STYLES
*/

#services{
  display: grid;
  row-gap: 20px;
  justify-items: center;
}

.card {
  width: var(--card-width);
  border-radius: var(--card-radius);
  overflow: hidden;
  background: var(--card-background);   
  transition: var(--card-transition);
  font-size: var(--card-font-size);
  max-height: 400px;
}

.card-shadow {
  box-shadow: var(--card-shadow);
}

.card-shadow:hover {
  box-shadow: var(--card-shadow-hover);
}

.card-translate:hover {
  transform: translateY(-3%);
}

.card img {
  width: 100%;
  height: var(--card-image-height);
}

.card .card-body {
  padding: var(--card-padding-body);
  text-align: var(--card-text-align);
}

.card .card-body p {
  line-height: var(--card-body-line-height);
  color: var(--card-color);
}

.card .card-body h3 {
  font-weight: 400;
  margin-bottom: 15px;
}

.card .divider {
  background: var(--card-divider-background);
  display: block;
  margin-bottom: 5px;
  width: 100%;
  height: 1px;
}

.button-round {
  padding: 10px;
  padding-left: var(--card-button-padding);
  padding-right: var(--card-button-padding);
  width: auto;
  margin: 15px;
  border: 1px solid;
  border-color: var(--card-button-color);
  border-radius: 5px;
  background: var(--card-button-background);
  color: var(--card-button-color);
  box-shadow: var(--card-shadow);
  text-transform: uppercase;
  cursor: pointer;
  transition: var(--card-transition);
}

.card .card-body button:hover {
  background: #6a6a6a34;
}
/* 
    END CARD STYLES
*/

/* START SECTION STYLES */
.container .section {
  display: grid;
  grid-template-rows: 50px auto;
  grid-row-gap: 15px;
  align-items: center;
  min-height: 90vh;

}

.container .section .title-content {
  display: grid;
  text-align: center;
  align-items: center;
  padding: 15px;
}

.container .section .title-content a {

  text-decoration: none;
}

.container .section .title-content .title {
  padding-bottom: 15px;
  color: #000;
}

/* END SECTION STYLES */

/* START HERO IMAGE */
.hero {
  width: 100%;
  height: 100vh;
  background: url("../img/car1.jpg");
  background-size: cover ;
  background-attachment: fixed;
}

.hero .layer {
  width: 100%;
  height: 100vh;
  display: grid;
  align-content: center;
  justify-content: center;
  font-size: 40px;
  color: rgba(255,255,255,0.5);
  background: rgba(0,0,0,0.5);
}
/* END HERO IMAGE */
footer {
  margin-top: 25px;
  padding-top: 10px;
  height: 50px;
  background: #2f89fc;
}

.content-footer{
  display: grid;
  align-content: center;
  color: #252a20;
  justify-content: center;
}